.brand {
  color: #333;
  padding: 2em 1em;
}
.brand h3 {
  margin: 0.5em 0px;
  color: #7e7b7b;
  text-align: center;
}

.brand #brand__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.brand #brand__list #brand__item {
  margin-top: 1em;
  margin-right: 10px;
  height: 75px;
  line-height: 68px;
  flex-basis: 23%;
}
.brand #brand__list #brand__item img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .brand {
    padding-top: 1em;
  }
  .brand #brand__list {
    justify-content: space-around;
  }
  .brand #brand__list #brand__item {
    text-align: center;
    flex-basis: 46%;
  }
  .brand #brand__list #brand__item img {
    max-width: 70%;
  }
}
@media (max-width: 576px) {
  .brand #brand__list #brand__item {
    flex-basis: 100%;
    border-bottom: 1px solid #0000001a;
  }
  .brand #brand__list #brand__item img {
    padding-bottom: 10px;
  }
  .brand #brand__list #brand__item img {
    max-width: 50%;
  }
  .brand h3 {
    font-size: 5vw;
  }
}
