.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("./../../image/teamwork.jpg");
  min-height: 45em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  position: relative;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero #started {
  z-index: 50;
  display: flex;
  width: 80%;
  text-align: -webkit-center;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero #started h1 {
  font-size: 5vw;
}
.hero #started h2 {
  font-size: 3vw;
}

.hero #started p {
  font-size: 1.5vw;
  margin-top: 1rem;
}
.hero #btn_started button {
  border: none;
  color: black;
  outline: none;
  margin-top: 2em;
  padding: 10px 25px;
  border-radius: 5px;
  margin-right: 1em;
  background-color: white;
  color: black;
  font-weight: bold;
  text-transform: capitalize;
}
.hero #btn_started button#btn_live_demo {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.hero #btn_started button#btn__demo {
  background: none;
  color: white;
  border: 1px solid white;
}

@media (max-width: 768px) {
  .hero #started h1 {
    font-size: 7vw;
  }
  .hero #started h2 {
    font-size: 4vw;
  }

  .hero #started p {
    font-size: 2.5vw;
    margin-top: 1rem;
  }
}

@media (max-width: 576px) {
  .hero #started h1 {
    font-size: 8.5vw;
  }
  .hero #started h2 {
    font-size: 4.5vw;
  }

  .hero #started p {
    font-size: 3vw;
    margin-top: 1rem;
  }
}

@media (max-width: 430px) {
  .hero #started h1 {
    font-size: 8.5vw;
  }
  .hero #started h2 {
    font-size: 7vw;
  }

  .hero #started p {
    font-size: 3.5vw;
    margin-top: 1rem;
  }
  #btn_started {
    flex-direction: column !important;
  }
  .hero #btn_started button {
    width: 100%;
  }
}

@media (max-width: 380px) {
  .hero #started h1 {
    font-size: 8.7vw;
  }
  .hero #started h2 {
    font-size: 8vw;
  }

  .hero #started p {
    font-size: 4.5vw;
    margin-top: 1rem;
  }
}

@media (max-width: 320px) {
  .hero #started h1 {
    font-size: 8.5vw;
  }
  .hero #started h2 {
    font-size: 7vw;
  }

  .hero #started p {
    font-size: 4.5vw;
    margin-top: 1rem;
  }
}
