.header {
  width: 100%;
  background-color: #5f6fff;
  min-height: 80px;
  line-height: 80px;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.wp_container {
  background-color: #5f6fff;
  display: flex;
  padding: 0px 20px;
  justify-content: space-between;
  height: 80px;
  position: relative;
  z-index: 20;
}
.header .wp_container ul {
  height: 80px;
}
.header .wp_container ul li {
  display: inline-block;
  height: 80px;
  line-height: 80px;
}
.header .wp_container ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}
.header .wp_container ul li a:hover {
  color: black;
  transition: all 0.2s;
}

.header .wp_container #btn #signIn {
  color: white;
  margin-right: 10px;
}
.header .wp_container #btn #signUp {
  background: #383f98;
  padding: 10px 15px;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  transition: all 0.25s;
}

.header .wp_container #btn #signUp:hover {
  background: #2e3299;
}

.header .wp_container #btn .menu__icon {
  color: white;
  font-size: 35px;
  display: none;
}
.header #btn .menu__icon:hover {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .header .wp_container #signIn,
  #menu,
  .header .wp_container #signUp {
    display: none;
  }
  .menu__icon {
    display: block;
  }
  .MuiSvgIcon-root {
    display: block !important;
  }
  .header #btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 769px) {
  #toggle_menu {
    display: none;
  }
}

.wp_container .display_menu {
  display: block !important;
  overflow-y: hidden !important;
}

.wp_container #toggle_menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 90;
  width: 100%;
  margin-top: 80px;
  height: 100vh;
  background-color: #ffffff;
}
.wp_container #toggle_menu ul {
  text-align: center;
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}
.wp_container #toggle_menu ul li {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #0000000a;
}

.wp_container #toggle_menu ul li a {
  color: black;
}

.wp_container #toggle_menu ul li:last-child {
  border-bottom: 0px;
}

.header #btn_back_to_top {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 20px;
  right: 20px;
  border: none;
  outline: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  line-height: 50px;
  background: #e14545;
  color: white;
  transition: all 0.35s;
  opacity: 0;
  z-index: 999999999;
}
